<template>
  <header class="flex justify-between bg-dark-purple p-6">
    <button class="text-center text-white">
      Home
    </button>
    
    <button type="button" class="text-center py-1 px-6
              text-black bg-light-purple duration-200 border-solid
              border-4 border-transparent hover:border-at-light-purple hover:bg-white
              hover:text-at-light-purple">
      Logout
    </button>
  </header>
</template>

<script>
export default {
  setup() {
    // Get user from store

    // Setup ref to router

    // Logout function

    return {};
  },
};
</script>
