<template>


  <div class="flex max-w-screen">
    <div class="bg-dark-purple w-2/4 h-screen p-10">
        <img class="gambar-logo h-16 text-center" src="/images/White-logo.png" alt="" />
        
        <div class="h-full flex justify-center items-center">
          <img class="w-3/4 text-center" src="/images/Forklift.png" alt="" />
        </div>
    </div>
    <div class="h-full flex flex-col justify-center bg-light-purple w-2/4 h-screen">      
        <h1 class="text-left text-4xl font-bold text-black mb-4 p-10">YOUR <span class="text-yellow">WAREHOUSE MANAGER</span> APPLICATION
        </h1>
        <div class="text-left text-black mb-4 p-10">
          <button type="button" class="button-start text-center text-2x1 py-4 px-8 rounded-sm text-sm
              font-bold text-black bg-yellow duration-200 border-solid
              border-4 border-transparent hover:border-at-light-purple hover:bg-white
              hover:text-at-light-purple">
          Get Started
          </button>
        </div>

          <div class="text-left text-1xl text-black mb-4 p-10">Welcome to Warehouse Manager Application!
          </div>
    </div>
  </div>
</template>

<script>


export default {
  name: "Home",
  components: {
   
  },
  setup() {
    // Create data / vars

    // Get data

    // Run data function

    return {};
  },
};
</script>
